{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="text-center mt-3">Tous nos modèles disponibles</h1>

        <div class="row">

            {# CARDS CARS #}
            {% for car in cars %}

                <div id="delete-{{ car.id }}" class="col-4 d-flex justify-content-center ">
                    <div id="card" class="card my-4" style="width: 14rem;">
                        <div class="image">
                            <img src="{{ car.image }}" class="card-img-top" alt="carte">
                            <a id="croix" data-car-id="{{ car.id }}" data-toggle="modal" data-target="#modalSuppression" href="{{ path('cars_delete', {'carId' : car.id}) }}">
                                <i class="far fa-times-circle"></i>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ car.marque }} {{ car.modele }}</h5>
                            <div class="card-text">
                                <p>{{ car.km }} km </p>
                                <p>Année : {{ car.annee }}</p>
                                <p>Prix : {{ car.price }}€</p>
                                <a href="{{ path('car_show', {'id' : car.id }) }}" class="btn btn-primary">Détails</a>
                                <a href="#" class="btn btn-primary">Ajouter</a>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>



    <!-- MODAL SUPPRESSION -->
    <div class="modal fade" id="modalSuppression" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Supprimer ce véhicule</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Êtes-vous certain de vouloir supprimer ce véhicule ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button id="btnModalOk" type="button" class="btn btn-danger">Valider</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="assets/js/suppression.js" defer></script>
{% endblock %}

