{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center my-5">Formulaire de Contact</h2>

        {{ form_start(formView) }}
        <div class="form-group">
            <div class="input-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                </div>
                {{ form_widget(formView.firstName, {'attr': {'name': 'firstName'}}) }}
            </div>
        </div>

        <div class="form-group">
            <div class="input-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                </div>
                {{ form_widget(formView.lastName,  {'attr': {'name': 'lastName'}}) }}
            </div>
        </div>

        <div class="form-group">
            <div class="input-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                </div>
                {{ form_widget(formView.email, {'attr': {'name': 'email'}}) }}
            </div>
        </div>

        <div class="form-group">
            <div class="input-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-phone"></i></span>
                </div>
                {{ form_widget(formView.phone, {'attr': {'name': 'phone'}}) }}
            </div>
        </div>

        <div class="form-group">
            <div class="input-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="far fa-comment-dots"></i></span>
                </div>
                {{ form_widget(formView.message, {'attr': {'name': 'message'}}) }}
            </div>
        </div>


        <a class="btn btn-primary mt-5" href={{  path('contactForm_validation') }}>Envoyez votre demande</a>

        {{ form_end(formView) }}
    </div>
{% endblock %}